.print-preview-modal {
    background: rgba(0, 0, 0, 0.5) !important;
    padding-top:60px;
}

.print-preview-modal .print-preview-header {
    height: 55px;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    text-align: center;
}

.print-preview-modal .print-preview-header ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.print-preview-modal .print-preview-header ul li a {
    display: inline-block;
    text-decoration: none;
    color: white;
    height: 55px;
    line-height: 55px;
    padding: 0 20px;
}

.print-preview-modal .print-preview-header ul li a:hover {
    background: #2a2a2a;
}

.print-preview-modal .print-preview-header .close-preview {
    display: block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    color: white;
    position: absolute;
    right: 20px;
    top: 15px;
    cursor: pointer;
}

.print-preview-modal .print-preview-header .close-preview:hover {
    background: white;
    color: black;
}

.print-preview-modal .modal-dialog {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

@media (min-width: 576px) {
    .print-preview-modal .modal-dialog {
        max-width: 100%;
    }
}
