#app {
    height: calc(100vh - 50px);
}

label.is-invalid {
    margin-top: .25em;
    margin-bottom: 0;
    font-size: .9em;
    color: #f86c6b;
}

.card-header .card-title {
    margin-bottom: 0;
}

/* JQuery Toast */
.jq-toast-single {
    font-size: 1em;
    padding: 15px;
    width: 270px;
}
.jq-toast-single .close-jq-toast-single {
    font-size: 18px;
}
.jq-toast-single h2 {
    font-size: 1.2em;
}
.jq-has-icon {
    padding: 15px 15px 15px 50px;
}

/* Loading ring */
.lds-ring {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #20a8d8;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #20a8d8 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Custom CSS */
.select2{
    width: 100% !important;
}

.form-control{
    font-size: 12px ;
}

.readonly{
    pointer-events:none;
    color:#0c0c0c;
    background:#F5F5F5;
}

.disabled-select {
    background-color: #F5F5F5;
    opacity: 0.5;
    border-radius: 3px;
    cursor: not-allowed;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

select[readonly].select2-hidden-accessible + .select2-container {
    pointer-events: none;
    touch-action: none;
}

select[readonly].select2-hidden-accessible + .select2-container .select2-selection {
    background: #eee;
    box-shadow: none;
}

select[readonly].select2-hidden-accessible + .select2-container .select2-selection__arrow,
select[readonly].select2-hidden-accessible + .select2-container .select2-selection__clear {
    display: none;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 30px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 30px !important;
}

.select2-container--default .select2-selection--single,
.select2-container--default .select2-search--dropdown .select2-search__field,
.select2-dropdown {
    border-color: #e4e7ea !important;
}

.select2-container *,
.select2-container--default .select2-search--dropdown .select2-search__field {
    outline: none !important;
}

.select2-container--default.select2-container--disabled .select2-selection--single {
    background-color: #e4e7ea !important;
}
